<ion-header>
    <ion-navbar>
        <button ion-button menuToggle *ngIf="!modal">
            <ion-icon name="menu"></ion-icon>
        </button>
        <button ion-button *ngIf="modal" (click)="modal.dismiss()" style="float: left; box-shadow: none;" class="disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-title>
            {{'search' | translate}}
        </ion-title>
        <ion-buttons end>
            <button ion-button color="primary" (click)="presentLangPopover($event)">
                <ion-icon name="apps"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Recherche simple dans les tomes</ion-card-title>
            <p>Vous pouvez choisir un tome précis ou rechercher dans tous les tomes.<br/>
                Ensuite, saisir les terminologies recherchées dans le champ texte.<br/>
                Le séparateur "|" peut être utilisé pour rechercher au moins une des parties.</p>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.tome' | translate}}</ion-label>
                <ion-select [(ngModel)]="kind" cancelText="{{'cancel' | translate}}" okText="{{'done' | translate}}">
                    <ion-option *ngFor="let kind of availableTypes" [value]="kind">{{kind}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.author' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="author"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.desc' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="desc"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.fulltext' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="fulltext" [disabled]="kind === 'bulletin'"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.keywords' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="keywords"></ion-input>
            </ion-item>
            <ion-item>
                <ion-select [(ngModel)]="keyword" (ionChange)="!keywords? keywords = keyword : keywords = keywords + '|' + keyword.join('|')"
                            cancelText="{{'cancel' | translate}}" okText="{{'search.doKeyword' | translate}}">
                    <ion-option *ngFor="let possibleKey of possibleKeys" [value]="possibleKeywords[possibleKey]">{{possibleKey}}</ion-option>
                </ion-select>
            </ion-item>
            <button ion-button block color="secondary" (click)="searchTome()"
                [disabled]="!kind">{{'search.do' | translate}}</button>
            <hr/>

            <ion-list>
                <ng-container *ngFor="let res of availableBooks; let i = index">
                    <ion-card *ngIf="i < displays">
                        <ion-card-content class="book-wrapper state-tome">
                            <button ion-item (click)="goTo(res)">
                                <ion-label>{{res.author}}</ion-label>
                            </button>
                            <button ion-item (click)="goTo(res)">
                                <ion-icon name="alarm" item-start></ion-icon>
                                <ion-label>{{res.issue | date:'dd/MM/yyyy'}}</ion-label>
                            </button>
                            <button ion-item (click)="goTo(res)">
                                <ion-icon name="analytics" item-start></ion-icon>
                                <ion-label>{{res.desc}}</ion-label>
                            </button>
                        </ion-card-content>
                    </ion-card>
                </ng-container>
            </ion-list>
            <ion-infinite-scroll (ionInfinite)="doInfinite()">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-card-content>
    </ion-card>
</ion-content>
