<ion-header>
    <ion-navbar>
        <button ion-button menuToggle *ngIf="!modal">
            <ion-icon name="menu"></ion-icon>
        </button>
        <button ion-button *ngIf="modal" (click)="modal.dismiss()" style="float: left; box-shadow: none;" class="disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-title>
            {{'search' | translate}}
        </ion-title>
        <ion-buttons end>
            <button ion-button color="primary" (click)="presentLangPopover($event)">
                <ion-icon name="apps"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <p>{{'search.intro1' | translate}}</p>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.tome' | translate}}</ion-label>
                <ion-select [(ngModel)]="kind" cancelText="{{'cancel' | translate}}" okText="{{'done' | translate}}">
                    <ion-option *ngFor="let kind of availableTypes" [value]="kind" [disabled]="invalidOption(kind)">{{kind}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.author' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="author" value="Pasicrisie"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.fulltext' | translate}}</ion-label>
                <ion-input type="text" (keydown)="($event.keyCode === 13 && searchTome()) || true" [(ngModel)]="fulltext"></ion-input>
            </ion-item>
            <button ion-button block color="secondary" (click)="searchTome()"
                    [disabled]="!kind">{{'search.do' | translate}}</button>
            <ion-item>
                <ion-label color="primary" stacked>{{'search.indices' | translate}}</ion-label>
                <ion-select [(ngModel)]="pdf" cancelText="{{'cancel' | translate}}" okText="{{'submit' | translate}}" (ionChange)="onMenuSelect()">
                    <ion-option *ngFor="let possibleIndex of possibleIndices;" [value]="possibleIndex">{{possibleIndex}}</ion-option>
                </ion-select>
            </ion-item>
            <hr/>

            <ion-list>
                <ng-container *ngFor="let res of availableBooks; let i = index">
                    <ion-card *ngIf="i < displays">
                        <ion-card-content class="book-wrapper state-tome">
                            <button ion-item (click)="api.getPdf(res, false)">
                                <ion-label>{{res.author}}</ion-label>
                            </button>
                            <button ion-item (click)="api.getPdf(res, false)">
                                <ion-icon name="analytics" item-start></ion-icon>
                                <ion-label>{{res.desc}}</ion-label>
                            </button>
                        </ion-card-content>
                    </ion-card>
                </ng-container>
            </ion-list>
            <ion-infinite-scroll (ionInfinite)="doInfinite()">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-card-content>
    </ion-card>
</ion-content>
